
.img15x15{
    height:15px;
    width:15px;
}

.img30x30{
    height:30px;
    width:30px;
}

.img50x50{
    height:50px;
    width:50px;
}

.img60x60{
    height:60px;
    width:60px;
}

.img70x70{
    height:70px;
    width:70px;
}

.img80x80{
    height:80px;
    width:80px;

}